<% provide(:title, 'About Us') %>
<h1>ChatBox!</h1>
<p>
  The <%= link_to "ChatBox", root_path %> is a project to increase visibility and communication within the <a href="http://www.miraclehandspediatrics.com/">Miracle Hands Family</a>. Our family is a big one including Doctors, nurses, patients, therapists and administrative staff. Using the chat box we are now able to communicate with each other instanteously from anywhere in the world. 

  All staff  members please note that releasing confidential patient information is illegal and violators will be immediately terminated.

  The Chat box is to be used for encouragement, suggestion, and team wide announcements.  Anyone that abuses this tool will lose all chatbox priviledges.

  With that said welcome to the ChatBox!  Let us use this to build a better Home Care company, for our patients and for our community.

	-Management

</p>