<footer class="footer">
  <small>
    Powered by
    <a href="http://railstutorial.org/">Ondo Corp</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.tmhp.com/Pages/default.aspx">News</a></li>
    </ul>
  </nav>
</footer>